:root {
--dark-cyan: hsl(185, 75%, 39%);
--very-dark-desaturated-blue: hsl(229, 23%, 23%);
--dark-grayish-blue: hsl(227, 10%, 46%);
--dark-gray: hsl(0, 0%, 59%);
Font-size: 18px;
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family:"Kumbh Sans" , sans-serif ;
    color: hsl(0, 11%, 12%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
section{ 
    background: var(--dark-cyan);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.card{
    width: 350px;
    background-color: white;
    position: relative;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}
.card-header{
background-image: url(./images/bg-pattern-card.svg);
background-size: cover;
height: 150px;

}
.card-body{
    padding: 0 20px 30px;   }
.img-holder{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 5px solid white;
    margin: -50px auto 30px auto;
    overflow: hidden;
    
    }
    .img-holder img{
        height: auto;
       width: 100%;
        display: block;
    
      }
.name-age{
    font-size: 1.5rem;
    margin-bottom: 20px;   
}
.age,
.city,
.meta{
    font-weight: 400;
    color: hsl(0, 11%, 12%); 
    opacity: .6;
}
.card-footer{
    border: 1px solid hsl(0, 23%, 92%);
    display: flex;
    padding: 0 25px;
}
.card-footer .item{
    flex: 1;
     height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-footer .item .value{
    font-size: 1.1rem;
    letter-spacing: 1px;

}
.card-footer .item .meta{
    font-size: .6rem;
    letter-spacing: 1px;  }
    /*circles*/ 
    .circles .c1,
.circles .c2{
    position: absolute;
    animation: 2s circles forwards;
    opacity: 0;
        }
.circles .c1{
   top: -400px;
   left: -175px;
   transform: translate(-50px, -100px);
}
.circles .c2{
    bottom: -400px;
    right: -175px;
    transform: translate(100px, 50px);
           }
@keyframes circles{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
